* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --light-blue: #0F3460;
    --dark-blue: #16213E;
    --text-grey: #C8C6C6;
    --yellow: #FFDE00;

    --font-small: .5rem;
    --font-medium: 1rem;
    --font-large: 2rem;
    --font-xl: 4rem;
}

body {
    font-family: "Poppins", sans-serif;
}

main.container {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-areas: 
        "current current"
        "current current"
        "current current"
        "day-wise day-wise"
        "day-wise day-wise"
        "day-wise day-wise"
        "highlight highlight"
        "highlight highlight"
        "highlight highlight"
        "highlight highlight"
        "highlight highlight";
}

/* Current Forecast style */
#current-forecast {
    grid-area: current;
    text-align: center;
    padding: 30px 20px;
    background-color: var(--light-blue);
}

#current-forecast .current-forecast-icon {
    height: 175px;
    width: 175px;
}

#current-forecast .current-temp {
    margin: 25px;
    font-size: var(--font-xl);
    color: white;
}

#current-forecast .current-temp .temp-unit {
    font-size: var(--font-large);
    color: var(--text-grey);
    font-weight: 400;
}

#current-forecast .description {
    margin: 25px;
    text-transform: capitalize;
    color: var(--text-grey);
}

#current-forecast .day-and-date {
    margin: 25px;
    color: var(--text-grey);
}

#current-forecast .today {
    margin-right: 27px;
}

#current-forecast .date {
    margin-left: 22px;
}

#current-forecast .location {
    margin: 25px;
    color: var(--text-grey);
}

p.location {
    font-size: var(--font-medium);
}

.location i {
    margin-right: 12px;
}

/* Five Day Styles */
#five-day-forecast {
    grid-area: day-wise;
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    row-gap: 22px;
    column-gap: 17px;
    padding: 35px;
}

#five-day-forecast h3 {
    text-transform: capitalize;
    color: white;
}

/* #five-day-forecast img {
} */

#five-day-forecast .max-temp {
    color: white;
    font-size: calc(var(--font-medium)*1.2);
    display: inline;
    margin-right: 5px;
}

#five-day-forecast .min-temp {
    color: var(--text-grey);
    font-size: calc(var(--font-medium)*1.2);
    display: inline;
    margin-left: 5px;
}

#five-day-forecast > article {
    background-color: var(--light-blue);
    padding: 10px;
    text-align: center;
}

section.min-max-temps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Today's Highlight Styles */
#today-highlight {
    grid-area: highlight;
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: repeat(autofill, minmax(60px, 1fr));
    grid-template-areas: "heading heading"
                        "wind wind"
                        "wind wind"
                        "humidity humidity"
                        "humidity humidity"
                        "feel feel"
                        "feel feel"
                        "visibility visibility"
                        "visibility visibility"
                        "pressure pressure"
                        "pressure pressure";
    row-gap: 25px;
    padding: 20px 20px 30px;
}

#today-highlight .heading {
    display: inline;
    grid-area: heading;
    color: white;
    font-size: calc(var(--font-medium)*1.5);
}

#today-highlight .wind-status{
    text-align: center;
    grid-area: wind;
    background-color: var(--light-blue);
    padding: 15px;
    color: white;
}

#today-highlight .wind-status p, 
#today-highlight .humidity p, 
#today-highlight .feels-like p,
#today-highlight .visibility p,
#today-highlight .air-pressure p{
    margin-bottom: 15px;
    font-size: calc(var(--font-medium)*1.2);
}

#today-highlight .wind-status h1,
#today-highlight .humidity h1, 
#today-highlight .feels-like h1,
#today-highlight .visibility h1, 
#today-highlight .air-pressure h1{
    font-size: var(--font-xl);
}

#today-highlight .wind-status h1 .wind-unit,
#today-highlight .humidity h1 .percent, 
#today-highlight .feels-like .feels-like-unit,
#today-highlight .visibility .meter, 
#today-highlight .air-pressure .pressure-unit{
    font-weight: 200;
    font-size: var(--font-large);
}

#today-highlight .humidity {
    text-align: center;
    grid-area: humidity;
    background-color: var(--light-blue);
    color: white;
    padding: 15px;
}

/* Humidity Bar */
.humidity-bar {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.bar-reading {
    display: flex;
    justify-content: space-between;
}

.bar-reading p {
    margin-bottom: 0 !important;
}

.bar-container {
    width: 100%;
    height: 15px;
    background-color: var(--text-grey);
    border-radius: 10px;
}

.bar-container .bar-progress {
    height: 15px;
    border-radius: 10px;
    background-color: var(--yellow);
    width: 80%;
}

.bar-percent {
    align-self: flex-end;
}

#today-highlight .feels-like {
    text-align: center;
    grid-area: feel;
    background-color: var(--light-blue);
    color: white;
    padding: 15px;
}

#today-highlight .visibility {
    text-align: center;
    grid-area: visibility;
    background-color: var(--light-blue);
    color: white;
    padding: 15px;
}

#today-highlight .air-pressure {
    text-align: center;
    grid-area: pressure;
    background-color: var(--light-blue);
    color: white;
    padding: 15px;
}

@media (width >= 450px) {
    main.container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "current day-wise day-wise"
            "current highlight highlight"
            "current highlight highlight";
    }

    #five-day-forecast {
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
    }

    #five-day-forecast .max-temp, #five-day-forecast .min-temp {
        font-size: var(--font-medium);
    }

    #today-highlight {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "heading heading"
                            "wind humidity"
                            "feel visibility"
                            "pressure .";
        gap: 25px;
    }

}































































/* ul {
    padding-left: 24px;
}

li {
    margin-bottom: 8px;
}

.welcome {
    max-width: 800px;
    margin: 0 auto;
}

.welcome-text {
    margin-top: 30vh;
    font-weight: 500;
}

.welcome-text p {
    font-size: 1rem;
    font-weight: 400;
}

.welcome-text h1 {
    font-size: 1.5rem;
}

.welcome-text a {
    color: #f7542e;
} */